university-work/uu/software engineering/generalized-wiki/src/xslt/gw/schemas/gwml.rng

<?xml version="1.0" encoding="iso-8859-1"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<!-- <include href="gwml_included_xhtml_modules.rng" /> -->
	<start>
		<element name="document">
      <optional>
      	<element name="head">
        	<ref name="head.attlist" />
      	</element>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="toc" />
					<ref name="section" />			
				</choice>
			</zeroOrMore>
		</element>
	</start>

	<define name="toc">
			<element name="toc">
				<optional>
					<attribute name="depth"><data type="int"/></attribute>
				</optional>
			</element>
	</define>

	<define name="section">
		<element name="section">
		  <ref name="common.attlist" />
			<optional>
				<element name="title"><text /></element>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="para" />	 
					<ref name="section" /> 
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="para">
		<element name="para">
		    <ref name="common.attlist" /> 
        <optional>
        	<zeroOrMore>
        		<choice>
							<ref name="include" />
        			<ref name="Flow.model" /> <!-- contains both Inline.class and Block.class which contain xhtml tags -->
        		</choice>
        	</zeroOrMore>
        </optional>
    </element>
	</define> 
	
  <define name="table">
    <element name="table">
    	<ref name="table.attlist" /> 
      <oneOrMore>
         <choice>
            <ref name="row" />
            <ref name="col" />
         </choice>
      </oneOrMore>   
    </element>    
  </define>

  <define name="row">
    <element name="row">
    	<ref name="table.attlist" />  
      <zeroOrMore>      
        <optional>
        	<choice>
          	<ref name="Flow.model" />
          	<ref name="col" />
        	</choice>
        </optional>
      </zeroOrMore>
    </element>
  </define>

  <define name="col">
    <element name="col">
    	<ref name="table.attlist" />  
      <ref name="Flow.model" />
    </element>
  </define>

	<define name="list">
	  <element name="list">
	    <optional>
				<attribute name="type"><ref name="listtypes.datatype" /></attribute>
      </optional>
	    <oneOrMore>
	      <choice>
	      	<element name="item">
          	<ref name="Flow.model"/> 
        	</element>
        	<ref name="list" />
        </choice>
	    </oneOrMore>
	  </element>
	</define> 

	<define name="link">
	  <element name = "link">
         <ref name="link.attlist" />
         <ref name="Flow.model"/>
     </element>
	</define>
	
	<define name="include">
		<element name="include">
      <ref name="include.attlist" />			
		</element>	
	</define>
	
	<define name="user">
		<element name="user"><empty /></element>
	</define>

  <define name="img">
    <element name="img">
      <ref name="img.attlist"/>
    </element>
  </define>
 
  <define name="table.attlist">
  	<optional>
  		<attribute name="width"><ref name="Length.datatype"/></attribute>
  	</optional>
  </define> 
 
	<define name="common.attlist">
      <optional>
         <attribute name="name"><text /></attribute>
      </optional>
      <optional>
         <attribute name="id"> <ref name="ID.datatype"/> </attribute>
      </optional> 
	</define>

  <define name="head.attlist">
    <attribute name="title"><text /></attribute>
    <attribute name="subtitle"><text /></attribute>
  </define>

  <define name="include.attlist">
    <ref name="link.attlist" />
    <optional>
      <attribute name="type">
       <choice>
      	<value>raw</value>
      	<value>normal</value>
    	 </choice>
      </attribute>
    </optional>
  </define>

  <define name="img.attlist">
    <ref name="Common.attrib"/>
		<ref name="link.attlist" />
    <optional>    
      <attribute name="alt">
        <ref name="Text.datatype"/>
      </attribute>
    </optional>    
    <optional>
      <attribute name="longdesc">
        <ref name="URI.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="height">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="width">
        <ref name="Length.datatype"/>
      </attribute>
    </optional>
  </define>

	<define name="link.attlist">
			<attribute name="target"><ref name="WikiLink.datatype"/></attribute>
	</define>
	
	<define name="WikiLink.datatype">
		<!-- <data type="string">
			<param name="pattern">[A-Z][a-z_\-.0-9]+[A-Z][a-z_\-.0-9]+</param>
		</data> -->
    <text /> 
    <!-- <ref name="URI.datatype" /> -->
	</define>

	<define name="listtypes.datatype">
	    <choice>
      	<value>1</value>
      	<value>a</value>
      	<value>A</value>
      	<value>i</value>
      	<value>I</value>
    	</choice>
	</define>

	<define name="wikivars.class">
		<ref name="user"/>
	</define>

	<!-- so our own definitions can be interleaved with various xhtml defs -->
	<define name="Inline.class" combine="choice">
		<choice>
			<ref name="list" />
    	<ref name="img" />
			<ref name="link" />
    	<ref name="table" />
			<ref name="wikivars.class" />
		<!-- <ref name="Block.class" /> -->
		</choice>
	</define>
		
<!-- XHTML modules below here -->
  <!--pres.rng-->

<define name="hr">
  <element name="hr">
    <ref name="hr.attlist"/>
  </element>
</define>

<define name="hr.attlist">
  <ref name="Common.attrib"/>
</define>
 
<define name="Block.class" combine="choice">
  <ref name="hr"/>
</define>

<define name="b">
  <element name="b">
    <ref name="b.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="b.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="big">
  <element name="big">
    <ref name="big.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="big.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="i">
  <element name="i">
    <ref name="i.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="i.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="small">
  <element name="small">
    <ref name="small.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="small.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="sub">
  <element name="sub">
    <ref name="sub.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="sub.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="sup">
  <element name="sup">
    <ref name="sup.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="sup.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="tt">
  <element name="tt">
    <ref name="tt.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="tt.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="Inline.class" combine="choice">
  <choice>
    <ref name="b"/>
    <ref name="big"/>
    <ref name="i"/>
    <ref name="small"/>
    <ref name="sub"/>
    <ref name="sup"/>
    <ref name="tt"/>
  </choice>
</define>

<!-- text.rng -->

<define name="br">
  <element name="br">
    <ref name="br.attlist"/>
    <empty/>
  </element>
</define>

<define name="br.attlist">
  <ref name="Core.attrib"/>
</define>

<define name="span">
  <element name="span">
    <ref name="span.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="span.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="abbr">
  <element name="abbr">
    <ref name="abbr.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="abbr.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="acronym">
  <element name="acronym">
    <ref name="acronym.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="acronym.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="cite">
  <element name="cite">
    <ref name="cite.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="cite.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="code">
  <element name="code">
    <ref name="code.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="code.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="dfn">
  <element name="dfn">
    <ref name="dfn.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="dfn.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="em">
  <element name="em">
    <ref name="em.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="em.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="kbd">
  <element name="kbd">
    <ref name="kbd.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="kbd.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="q">
  <element name="q">
    <ref name="q.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="q.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="cite">
      <ref name="URI.datatype"/>
    </attribute>
  </optional>
</define>

<define name="samp">
  <element name="samp">
    <ref name="samp.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="samp.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="strong">
  <element name="strong">
    <ref name="strong.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="strong.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="var">
  <element name="var">
    <ref name="var.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="var.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="div">
  <element name="div">
    <ref name="div.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define>

<define name="div.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="p">
  <element name="p">
    <ref name="p.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="p.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="address">
  <element name="address">
    <ref name="address.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="address.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="blockquote">
  <element name="blockquote">
    <ref name="blockquote.attlist"/>
    <ref name="Block.model"/>
  </element>
</define>

<define name="blockquote.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="cite">
      <ref name="URI.datatype"/>
    </attribute>
  </optional>
</define>

<define name="pre">
  <element name="pre">
    <ref name="pre.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="pre.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="xml:space">
      <value>preserve</value>
    </attribute>
  </optional>
</define>

<define name="h1">
  <element name="h1">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define>
 
<define name="h2">
  <element name="h2">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define>
 
<define name="h3">
  <element name="h3">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define>
 
<define name="h4">
  <element name="h4">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define>
 
<define name="h5">
  <element name="h5">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define>

<define name="h6">
  <element name="h6">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define>

<define name="Heading.attrib">
  <ref name="Common.attrib"/>
</define>
 
<define name="Heading.content">
  <ref name="Inline.model"/>
</define>

<define name="Heading.class">
  <choice>
    <ref name="h1"/>
    <ref name="h2"/>
    <ref name="h3"/>
    <ref name="h4"/>
    <ref name="h5"/>
    <ref name="h6"/>
  </choice>
</define>

<define name="Block.class">
  <choice>
    <empty />
    <!--
    <ref name="address"/>
    <ref name="blockquote"/>
    <ref name="div"/>
    <ref name="p"/> -->
    <ref name="pre"/>
    <!-- <ref name="Heading.class"/> -->
  </choice>
</define>

<define name="Inline.class">
  <choice>
		    <!-- <ref name="abbr"/> -->
		    <!-- <ref name="acronym"/> -->
		    <ref name="br"/>
		    <ref name="cite"/>
		    <ref name="code"/>
		    <!-- <ref name="dfn"/> -->
		    <ref name="em"/>
		    <!-- <ref name="kbd"/> -->
		    <!-- <ref name="q"/> -->
		    <!-- <ref name="samp"/> -->
		    <!-- <ref name="span"/> -->
		    <ref name="strong"/>
		    <!-- <ref name="var"/> -->
  </choice>
</define>

<define name="Inline.model">
  <zeroOrMore>
    <choice>
      <text/>
      <ref name="Inline.class"/>
    </choice>
  </zeroOrMore>
</define>

<!-- This is redefined by the legacy module to include inlines. -->
<define name="Block.mix">
  <ref name="Block.class"/>
</define>

<define name="Block.model">
  <oneOrMore>
    <ref name="Block.mix"/>
  </oneOrMore>
</define>

<define name="Flow.model">
  <zeroOrMore>
    <choice>
      <text/>
      <ref name="Inline.class"/>
      <ref name="Block.class"/>
    </choice>
  </zeroOrMore>
</define>

<!-- basic-form.rng -->
<define name="form">
  <element name="form">
    <ref name="form.attlist"/>
    <!-- Don't use Block.model, because this gets redefined by the
	 legacy module. -->
    <oneOrMore>
    	<ref name="Flow.model" />
      <!-- <ref name="Block.class"/> changed with respect to xhtml -->
    </oneOrMore>
  </element>
</define>

<define name="form.attlist">
  <ref name="Common.attrib"/>
  <attribute name="action">
    <ref name="URI.datatype"/>
  </attribute>
  <optional>
    <attribute name="method">
      <choice>
				<value>get</value>
				<value>post</value>
      </choice>
    </attribute>
  </optional>
  <optional>
    <attribute name="enctype">
      <ref name="ContentType.datatype"/>
    </attribute>
  </optional>
</define>

<define name="label">
  <element name="label">
    <ref name="label.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="label.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="for">
      <ref name="IDREF.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="accesskey">
      <ref name="Character.datatype"/>
    </attribute>
  </optional>
</define>

<define name="input">
  <element name="input">
    <ref name="input.attlist"/>
  </element>
</define>

<define name="input.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="type">
      <ref name="InputType.class"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="name"/>
  </optional>
  <optional>
    <attribute name="value"/>
  </optional>
  <optional>
    <attribute name="checked">
      <value>checked</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="size"/>
  </optional>
  <optional>
    <attribute name="maxlength">
      <ref name="Number.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="src">
       <ref name="URI.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="accesskey">
      <ref name="Character.datatype"/>
    </attribute>
  </optional>
</define>

<define name="InputType.class">
  <choice>
    <value>text</value>
    <value>password</value>
    <value>checkbox</value>
    <value>radio</value>
    <value>submit</value>
    <value>reset</value>
    <value>hidden</value>
  </choice>
</define>

<define name="select.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="name"/>
  </optional>
  <optional>
    <attribute name="size">
      <ref name="Number.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="multiple">
      <value>multiple</value>
    </attribute>
  </optional>
</define>
   
<define name="option">
  <element name="option">
    <ref name="Common.attrib"/>
    <optional>
      <attribute name="selected">
        <value>selected</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="value"/>
    </optional>
    <text/>
  </element>
</define>

<define name="textarea">
  <element name="textarea">
    <ref name="textarea.attlist"/>
  </element>
</define>

<define name="textarea.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="name"/>
  </optional>
  <optional>
  	<attribute name="rows">
    	<ref name="Number.datatype"/>
  	</attribute>
  </optional>
  <optional>
  	<attribute name="cols">
    	<ref name="Number.datatype"/>
  	</attribute>
  </optional>
  <optional>
    <attribute name="accesskey">
      <ref name="Character.datatype"/>
    </attribute>
  </optional>
  <text/>
</define>

<define name="Form.class">
  <ref name="form"/>
</define>

<define name="Formctrl.class">
  <choice>
    <ref name="input"/>
    <ref name="label"/>
    <ref name="select"/>
    <ref name="textarea"/>
  </choice>
</define>

<define name="Block.class" combine="choice">
  <ref name="Form.class"/>
</define>

<define name="Inline.class" combine="choice">
  <ref name="Formctrl.class"/>
</define>

<!-- form.rng --> 

  <define name="select">
    <element name="select">
      <ref name="select.attlist"/>
      <oneOrMore>
	<choice>
	  <ref name="option"/>
	  <ref name="optgroup"/>
	</choice>
      </oneOrMore>
    </element>
  </define>


<define name="form.attlist" combine="interleave">
  <optional>
    <attribute name="accept-charset">
      <ref name="Charsets.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="accept">
      <ref name="ContentTypes.datatype"/>
    </attribute>
  </optional>
</define>

<define name="input.attlist" combine="interleave">
  <optional>
    <attribute name="disabled">
      <value>disabled</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="readonly">
      <value>readonly</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="alt"/>
  </optional>
  <optional>
    <attribute name="tabindex">
      <ref name="Number.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="accept">
      <ref name="ContentTypes.datatype"/>
    </attribute>
  </optional>
</define>

<define name="InputType.class" combine="choice">
  <choice>
    <value>image</value>
    <value>button</value>
  </choice>
</define>

<define name="select.attlist" combine="interleave">
  <optional>
    <attribute name="disabled">
      <value>disabled</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="tabindex">
      <ref name="Number.datatype"/>
    </attribute>
  </optional>
</define>

<define name="option.attlist" combine="interleave">
  <optional>
    <attribute name="disabled">
      <value>disabled</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="label">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
</define>

<define name="optgroup">
  <element name="optgroup">
    <ref name="optgroup.attlist"/>
    <oneOrMore>
      <ref name="option"/>
    </oneOrMore>
  </element>
</define>

<define name="optgroup.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="disabled">
      <value>disabled</value>
    </attribute>
  </optional>
  <attribute name="label">
    <ref name="Text.datatype"/>
  </attribute>
</define>

<define name="textarea.attlist" combine="interleave">
  <optional>
    <attribute name="disabled">
      <value>disabled</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="readonly">
      <value>readonly</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="tabindex">
      <ref name="Number.datatype"/>
    </attribute>
  </optional>
</define>

<define name="fieldset">
  <element name="fieldset">
    <ref name="fieldset.attlist"/>
    <ref name="legend"/>
    <ref name="Flow.model"/>
  </element>
</define>

<define name="fieldset.attlist">
  <ref name="Common.attrib"/>
</define>

<define name="button">
  <element name="button">
    <ref name="button.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define>

<define name="button.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="name"/>
  </optional>
  <optional>
    <attribute name="value"/>
  </optional>
  <optional>
    <attribute name="type">
      <choice>
        <value>button</value>
        <value>submit</value>
        <value>reset</value>
      </choice>
    </attribute>
  </optional>
  <optional>
    <attribute name="disabled">
      <value>disabled</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="tabindex">
      <ref name="Number.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="accesskey">
      <ref name="Character.datatype"/>
    </attribute>
  </optional>
</define>

<define name="legend">
  <element name="legend">
    <ref name="legend.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="legend.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="accesskey">
      <ref name="Character.datatype"/>
    </attribute>
  </optional>
</define>

<define name="Form.class" combine="choice">
  <ref name="fieldset"/>
</define>

<define name="Formctrl.class" combine="choice">
  <ref name="button"/>
</define>

<!-- datatypes.rng -->
<!-- Length defined for cellpadding/cellspacing -->

<!-- nn for pixels or nn% for percentage length -->
<define name="Length.datatype">
  <text/>
</define>

<!-- space-separated list of link types -->
<define name="LinkTypes.datatype" combine="choice">
  <ref name="NMTOKENS.datatype"/>
</define>

<!-- single or comma-separated list of media descriptors -->
<define name="MediaDesc.datatype" combine="choice">
  <text/>
</define>

<!-- pixel, percentage, or relative -->
<define name="MultiLength.datatype" combine="choice" >
  <text/>
</define>

<!-- one or more digits (NUMBER) -->
<define name="Number.datatype" combine="choice">
  <text/>
</define>

<!-- integer representing length in pixels -->
<define name="Pixels.datatype" combine="choice">
  <text/>
</define>

<!-- script expression -->
<define name="Script.datatype" combine="choice">
  <text/>
</define>

<!-- textual content -->
<define name="Text.datatype" combine="choice">
  <text/>
</define>

<!-- Imported Datatypes ................................ -->

<!-- a single character from [ISO10646] -->
<define name="Character.datatype" combine="choice">
  <text/>
</define>

<!-- a character encoding, as per [RFC2045] -->
<define name="Charset.datatype" combine="choice">
  <text/>
</define>

<!-- a space separated list of character encodings, as per [RFC2045] -->
<define name="Charsets.datatype" combine="choice">
  <text/>
</define>

<!-- media type, as per [RFC2045] -->
<define name="ContentType.datatype" combine="choice">
  <text/>
</define>

<!-- comma-separated list of media types, as per [RFC2045] -->
<define name="ContentTypes.datatype" combine="choice">
  <text/>
</define>

<!-- date and time information. ISO date format -->
<define name="Datetime.datatype" combine="choice">
  <text/>
</define>

<!-- formal public identifier, as per [ISO8879] -->
<define name="FPI.datatype" combine="choice">
  <text/>
</define>

<!-- a language code, as per [RFC1766] -->
<define name="LanguageCode.datatype" combine="choice">
  <data type="language"/>
</define>

<!-- a Uniform Resource Identifier, see [URI] -->
<define name="URI.datatype" combine="choice">
  <data type="anyURI"/>
</define>

<!-- a space-separated list of Uniform Resource Identifiers, see [URI] -->
<define name="URIs.datatype" combine="choice">
  <text/>
</define>

<define name="NMTOKEN.datatype" combine="choice">
  <data type="NMTOKEN"/>
</define>

<define name="NMTOKENS.datatype" combine="choice">
  <data type="NMTOKENS"/>
</define>

<define name="ID.datatype" combine="choice">
  <data type="ID"/>
</define>

<define name="IDREF.datatype" combine="choice">
  <data type="IDREF"/>
</define>

<define name="IDREFS.datatype" combine="choice">
  <data type="IDREFS"/>
</define>


<!--attribs.rng -->

<define name="id.attrib" combine="choice">
  <optional>
    <attribute name="id">
      <ref name="ID.datatype"/>
    </attribute>
  </optional>
</define>

<define name="class.attrib" combine="choice">
  <optional>
    <attribute name="class">
      <ref name="NMTOKENS.datatype"/>
    </attribute>
  </optional>
</define>

<define name="title.attrib" combine="choice">
  <optional>
    <attribute name="title">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
</define>

<define name="Core.attrib" combine="choice">
  <ref name="id.attrib"/>
  <ref name="class.attrib"/>
  <ref name="title.attrib"/>
</define>

<define name="lang.attrib" combine="choice">
  <optional>
    <attribute name="xml:lang">
      <ref name="LanguageCode.datatype"/>
    </attribute>
  </optional>
</define>

<define name="I18n.attrib" combine="choice">
  <ref name="lang.attrib"/>
</define>

<define name="Common.attrib" combine="choice">
  <ref name="Core.attrib"/>
  <ref name="I18n.attrib"/>
</define>

<define name="CommonIdRequired.attrib" combine="choice">
  <attribute name="id">
    <ref name="ID.datatype"/>
  </attribute>
  <ref name="class.attrib"/>
  <ref name="title.attrib"/>
  <ref name="I18n.attrib"/>
</define>
</grammar>
